{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}
{% if users %}

<form action="" method="get" id="filterProduct">
  <div class="box sort pull-right">
    <span>Фильтрация:</span>
   <ul class="dropdown-menu" role="menu" aria-labelledby="menu3">
       <button type="submit" name="filter_by"  title="Все"> Все пользователи </button>
       <button type="submit" name="filter_by" value="Муж." title="Только мужчины"> Только Мужчины </button>
       <button type="submit" name="filter_by" value="Жен." title="Только мужчины"> Только Мужчины </button>
   </ul>
  </div>
</form>

<div class="box sort pull-right">
    <span>Сортировка:</span>
    <a href="{% url 'table-views-page' %}"><button type="submit">Сбросить сортировку</button></a>
    <a href="{% url 'sorted-name-table-views-page' %}"><button type="submit">Сортировать по имени</button></a>
    <a href="{% url 'sorted-age-table-views-page' %}"><button type="submit">Сортировать по возрасту</button></a>
</div>
<br>

<table>

<tr>
  <th>Пользователи</th>
  <th>Имя</th>
  <th>Фамилия</th>
  <th>Полных лет</th>
  <th>Пол</th>
  <th>Телефон</th>
  <th>Тип крови</th>
  </tr>

    {% for user in users %}
 <tr>
  <td>{{user.id}}</td>
  <td>{{user.name}}</td>
  <td>{{user.surname}}</td>
  <td>{{user.age}}</td>
  <td>{{user.gender}}</td>
  <td>{{user.phone_number}}</td>
  <td>{{user.blood_type}}</td>
 </tr>
    {% endfor %}

</table>
{% if is_paginated %}
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&orderby={{ordering}}&filter_by={{filtering}}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&filter_by={{filtering}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }} &filter_by={{filtering}}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }} &filter_by={{filtering}}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    {% endif %}
{% else %}
    <p>No users found!!! :(</p>
{% endif %}

{% endblock %}